<nav class="navbar">
  <ul class="navbar-menu">
    <li><a class="nav-button" href="/">myHome</a></li>
    <% if(user) { %>
      <li><a class="nav-button" href="/users/<%=user._id%>/workouts">myWorkouts</a></li>
      <li><a class="nav-button" href="/community">myCommunity</a></li>
      <li><a class="nav-button" href="/auth/sign-out">Sign Out</a></li>
    <% } else { %>
      <li><a class="nav-button" href="/auth/sign-in">Sign In</a></li>
      <li><a class="nav-button" href="/auth/sign-up" style="background-color: rgba(255, 0, 0, 0.684);">Sign Up</a></li>
    <% } %>
  </ul>
</nav>
  