<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/users/<%= user._id %>/workouts" method="POST">
        <label for="type">Type:</label>
        <select id="type" name="type" onchange="toggleSubmitButton()">
            <option value="" disabled selected>Workout Type</option>
            <option value="run">Run</option>
            <option value="weightTraining">Weightlifting</option>
            <option value="walk">Walk</option>
        </select>
        <br>

        <label for="duration">Duration (min):</label>
        <input type="number" id="duration" name="duration">
        <br>

        <div id="runFields" style="display: none;">
            <label for="distance">Distance (miles):</label>
            <input type="number" id="distance" name="distance">
            <br>
        </div>

        <div id="weightTrainingFields" style="display: none;">
            <label for="exercise">Exercise:</label>
            <input type="text" id="exercise" name="exercise">
            <br>

            <label for="weight">Weight (lbs):</label>
            <input type="number" id="weight" name="weight">
            <br>

            <label for="sets">Sets:</label>
            <input type="number" id="sets" name="sets">
            <br>

            <label for="reps">Reps:</label>
            <input type="number" id="reps" name="reps">
            <br>
        </div>

        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes"></textarea>
        <br>

        <button type="submit" id="submitButton" style="display: none;">Add Workout</button>
    </form>

    <a href="/users/<%= user._id %>/workouts">Back to Workouts</a>


    <script>
        document.getElementById('type').addEventListener('change', function() {
        let selectedType = this.value;
        if (selectedType === 'run') {
            document.getElementById('runFields').style.display = 'block';
            document.getElementById('weightTrainingFields').style.display = 'none';
        } else if (selectedType === 'weightTraining') {
            document.getElementById('runFields').style.display = 'none';
            document.getElementById('weightTrainingFields').style.display = 'block';
        } else if (selectedType === 'walk') {
            document.getElementById('runFields').style.display = 'none';
            document.getElementById('weightTrainingFields').style.display = 'none'; 
            document.getElementById('walkFields').style.display = 'block';
        } else {
            document.getElementById('runFields').style.display = 'none';
            document.getElementById('weightTrainingFields').style.display = 'none';
        }
        });

        function toggleSubmitButton() {
        let type = document.getElementById('type').value;
        let submitButton = document.getElementById('submitButton');

        if (type !== '') {
            submitButton.style.display = 'block';
        } else {
            submitButton.style.display = 'none';
        }
    }

    </script>




</body>
</html>