<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <a href="/users/<%= user._id %>/workouts/new/weightlifting"><button>weightlifting</button></a>
    <a href="/users/<%= user._id %>/workouts/new/run"><button>run</button></a>
</body>
</html>