<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="sidekick">
    <h1>Community</h1>
    </div>

    <div class="workouts-grid">
        <ul>
            <% users.forEach((user) => { %>
            <li>
                <a class="user-buttons" href="/community/<%= user._id %>" style="font-size: 300%;"
                    ><%= (user.username).charAt(0).toUpperCase() %>
                </a>
                <p2 style="font-size: large; margin: 5px 0px 0px 0px; max-height: 15px"><%= (user.username) %></p>
            </li>
        <% }); %>
        </ul>
    </div>
</body>
</html>