<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="hero">
  <% if (user) { %>
    <h1>Welcome to the myFit, <%= user.username %>!</h1>
    <h2 id="quote"><%= quote %></h2>
    <a href="/users/<%= user._id %>/workouts/new">Add New Workout</a>
  <% } else { %>
    <h1>myFit</h1>
    <h2>a fitness journaling app</h2>
  <% } %>
  </div>
</body>


<style>
  #quote {
    opacity: 0;
    transition: opacity 3s;
  }
  #quote.fade-in {
    opacity: 2;
  }
</style>


<script>
  window.onload = function () {
    document.getElementById('quote').classList.add('fade-in')
  }
</script>

</html>
