body {
    background-image: url('./negative-space-fitness-weights-trainer-blue-1062x708.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    height: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    height: auto;
    padding: 20px;
    text-align: center;
    margin: 0;
    font-size: 175%;
    width: 100vw;
    box-sizing: border-box;
    background-color: #d1d1d1;
}

.hero h1 {
    margin-bottom: 30px;
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 100%
}

.sidekick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 150%;
}

.navbar {
    padding: 10px;
    border-bottom: 10px solid #D4B5A5;
    width: 100vw;
    box-sizing: border-box;
    background-color: #505050a3;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.navbar-menu li{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: inline-flex;
    flex-direction: row;
    gap: 100px;
}

.nav-button {
    background-color: #50505000;
}

.workouts-grid {
    padding: 40px;
    background-color: #ffffffa7;
    margin: 10px;
}

.workouts-grid ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    margin: 0;
    padding: 0px 40px;
    align-items: center;
    width: 90vw;
    box-sizing: border-box;
}

.workouts-grid li{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 10px;
    align-items: center;
    height: auto;
    background-color: #ffffffc0;
}

form {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.sets-and-reps {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.update-delete {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    padding: 0px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

select {
    appearance: none;
    padding: 10px;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23333' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 12l8 8 8-8z'/%3E%3C/svg%3E"), linear-gradient(to bottom, transparent 0%, #e0e0e0 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}

p {
    font-size: xx-large;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.showUL {
    padding: 20px 40px;
    background: rgb(180, 180, 180);
    font-size: large;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

textarea {
    height: 100px;
    resize: vertical;
}

button[type="submit"],
a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.684);
    color: #fdfdfd;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.workout-buttons, .user-buttons {
    background-color: rgba(0, 191, 255, 0.513);
}

button[type="submit"]:hover,
a:hover {
    background-color: rgba(255, 0, 0, 0.513);
}

#runFields,
#weightTrainingFields,
#walkFields {
    display: none;
}

